body {
  margin: 0%;
}

.scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #808080;
}

.imgAnimation {
  transition: all 1s ease-in-out;
}

.imgAnimation:hover {
  transform: scale(1.2);
}

.typeWritertheme {
  border-right: 3px solid white;
  width: 0ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 10s infinite alternate;
}

@keyframes typewriter {
  0% {
    width: 0ch;
  }

  50% {
    width: 28ch;
  }
}

#oval,
#plus,
#diamond,
#bubble-rounded {
  animation: plopp 4s ease-out infinite;
}

#bg-line:nth-child(2) {
  fill-opacity: 0.3;
}

#bg-line:nth-child(3) {
  fill-opacity: 0.4;
}

@keyframes plopp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes plopp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0.5;
  }
}
